.display-4 {
  font-size: 8vw;
  text-align: center;
}

.top-buffer {
  margin: 5px;
}

#seeyou {
  font-size: 1.5vw;
  font-family: 'Lato';
  color: rgb(86,198,198);
}

#welcome {
  font-size: 1.5vw;
  font-family: 'Lato';
  color: rgb(86,198,198);
}

#industry {
  margin: auto;
}

#startbtn {
  margin-top: 35px;
}

#question {
  color: rgb(86,198,198);
  padding: 5px;
}

#question {
  text-align: left !important;
}


#answer_a_btn {
  font-size: medium;
  text-align: left;
}

#answer_b_btn {
  font-size: medium;
  text-align: left;
}

#answer_c_btn {
  font-size: medium;
  text-align: left;
}

#answer_d_btn {
  font-size: medium;
  text-align: left;
}

.row top-buffer {
  text-align: left !important;
}

@media (max-width: 307px) {
  #liin {
    padding-left: 45px !important;
  }
}

@media (max-width: 765px) {
  .navbar.navbar-light.navbar-expand-md.navigation-clean-button.bg-light.navbar-collapse {
    /*padding-bottom: 45px;*/
    /*padding-top: 5px;*/
  }
}

@media (max-width: 576px) {
  #liup {
    padding-left: 45px !important;
    /*padding-right: 5px !important;*/
  }
}

@media (max-width: 307px) {
  #liup {
    padding-right: 5px !important;
  }
}

.prettyline {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

#learnbt3 {
  text-align: center;
}

#learnbt2 {
  text-align: center;
}

#learnbt {
  text-align: center;
}

@media (min-width: 750px) {
  .navbar navbar-light navbar-expand-md navigation-clean-button bg-light {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.navbar.navbar-light.navbar-expand-md.navigation-clean-button.bg-light {
  display: inline-flex;
}

.navbar.navbar-light.navbar-expand-md.navigation-clean-button {
  text-align: center;
  position: fixed !important;
  /*lef: 0;*/
  min-height: 2%;
  /*padding: 25px;*/
  box-shadow: 0px 0px 8px 0px;
  -webkit-box-shadow: 0px 0px 8px 0px;
  -moz-box-shadow: 0px 0px 20px 0px;
  width: 100%;
  z-index: 100;
}

#startbtn: active {
  text-decoration: blink !important;
  background-color: darkgrey !important;
}

.bs-example bs-example-tabs {
  display: flex;
  justify-content: center;
}

#myFooter .xing:hover {
  color: #026466;
}

.btn.btn-primary.btn-lg.hero-button {
  justify-content: center;
}

div.jumbotron.carousel-hero {
  color: #fff;
  text-align: center;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: .20rem;
}

#login {
  cursor: pointer;
}

#kontakt {
  cursor: pointer;
}

div.jumbotron.hero-nature {
  background-image: url(../../assets/img/industrie4.0.jpg?h=2c21ef24934e7401fd57a57535e7dbf0);
}

div.jumbotron.hero-photography {
  background-image: url(../../assets/img/df.png?h=8713676c00dd523075d6928b1de0c1d1);
}

div.jumbotron.hero-technology {
  background-image: url(../../assets/img/opc.jpg?h=8e924e0b49a0c4f7ee5a288dab624cec);
}

h1.hero-title, h2.hero-title, h3.hero-title {
  text-shadow: 0 3px 3px rgba(0,0,0,0.4);
  color: rgba(0,0,0,.7);
  font-family: 'Lato';
  font-size: 112px;
  font-size: 12vw;
}

h4 {
  font-family: 'Lato';
  font-size: 1.5vw;
}

#footer {
  width: 100vw;
  left: calc(-50vw + 50%);
  margin-bottom: -5px;
}

p.hero-subtitle {
  max-width: 600px;
  margin: 25px auto;
  padding: 10px 15px;
  color: rgba(0,0,0,.7);
  font-size: xx-large;
  font-family: 'Lato';
  font-size: 3.2vw;
}

img {
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
  padding-top: 15px;
}

#nav-logo {
  margin-right: 10px;
}

p {
  text-align: center;
}

#container-icon {
  border-bottom: solid;
}

#div-icon {
  border-top: solid #1f4265;
  margin-top: -3px;
}

#liup {
  color: #56c6c6;
  text-decoration: none;
  padding-left: 200px;
}

#liin {
  color: #56c6c6;
  text-decoration: none;
  padding-left: 70px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#lisignup {
  padding-top: 15px;
  padding-bottom: 15px;
}

#lisignin {
  padding-top: 15px;
  padding-bottom: 15px;
}

#myTab {
  font-family: 'Lato';
}

.hero-subtitle {
  font-size: 2.5vw;
}

#textopcua {
  text-align: justify;
  word-wrap: break-word;
}

#textdemo {
  text-align: justify;
  word-wrap: break-word;
}

#textinust {
  text-align: justify;
  word-wrap: break-word;
}

#txtmjrstart {
  text-align: justify;
  word-wrap: break-word;
}
