.top-buffer {
  margin: 5px;
}

#answer_a_btn {
  font-size: medium;
  text-align: left;
}

#answer_b_btn {
  font-size: medium;
  text-align: left;
}

#answer_c_btn {
  font-size: medium;
  text-align: left;
}

#answer_d_btn {
  font-size: medium;
  text-align: left;
}

@media (max-width: 765px) {
  .navbar.navbar-light.navbar-expand-md.navigation-clean-button.bg-light.navbar-collapse {
    /*padding-bottom: 45px;*/
    /*padding-top: 5px;*/
  }
}

.prettyline {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

@media (min-width: 750px) {
  .navbar navbar-light navbar-expand-md navigation-clean-button bg-light {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.navbar.navbar-light.navbar-expand-md.navigation-clean-button.bg-light {
  display: inline-flex;
}

.navbar.navbar-light.navbar-expand-md.navigation-clean-button {
  text-align: center;
  position: fixed !important;
  /*lef: 0;*/
  min-height: 2%;
  /*padding: 25px;*/
  box-shadow: 0px 0px 8px 0px;
  -webkit-box-shadow: 0px 0px 8px 0px;
  -moz-box-shadow: 0px 0px 20px 0px;
  width: 100%;
  z-index: 100;
}

#myFooter .xing:hover {
  color: #026466;
}

.btn.btn-primary.btn-lg.hero-button {
  justify-content: center;
}

div.jumbotron.carousel-hero {
  color: #fff;
  text-align: center;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: .20rem;
}

div.jumbotron.hero-nature {
  background-image: url(../../assets/img/industrie4.0.jpg?h=2c21ef24934e7401fd57a57535e7dbf0);
}

div.jumbotron.hero-photography {
  background-image: url(../../assets/img/df.png?h=8713676c00dd523075d6928b1de0c1d1);
}

div.jumbotron.hero-technology {
  background-image: url(../../assets/img/opc.jpg?h=8e924e0b49a0c4f7ee5a288dab624cec);
}

h1.hero-title, h2.hero-title, h3.hero-title {
  text-shadow: 0 3px 3px rgba(0,0,0,0.4);
  color: rgba(0,0,0,.7);
  font-family: 'Lato';
  font-size: 112px;
  font-size: 12vw;
}

p.hero-subtitle {
  max-width: 600px;
  margin: 25px auto;
  padding: 10px 15px;
  color: rgba(0,0,0,.7);
  font-size: xx-large;
  font-family: 'Lato';
  font-size: 3.2vw;
}

#nav-logo {
  margin-right: 10px;
}

p {
  text-align: center;
}

#container-icon {
  border-bottom: solid;
}

#div-icon {
  border-top: solid #1f4265;
  margin-top: -3px;
}

.hero-subtitle {
  font-size: 2.5vw;
}
